<body>
    <img src="../../../assets/img/img_uni.jpg" width="70">
        <div class="container mt-5"></div>
          <div class="login-container">
            <div class="login-form">
              <h2 class="text-center">Login</h2>
              <form>
                <div>
                  <label></label>
                  <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electrónico" required>
                </div>
                <div>
                  <label></label>
                  <input type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña" required>
                </div>
                <label></label>
                <button type="submit" class="btn btn-primary btn-block" routerLink='articulo'>Ingresar</button>
                <label></label>
                <p>Al iniciar sesión, aceptas políticas de aviso y privacidad.</p>
                <p class="text-center">¿No tienes una cuenta?</p>
                <button type="button" class="btn btn-secundary btn-block" routerLink='/registro'>Registrarse</button>
                
              </form>
            </div> 
          </div>
  </body>