<body>

    <div class="container mt-5">
        <div class="cargar-container">
            <h2 class="text-center mb-4">Cargar Articulo</h2>
            <form>
                <div class="mb-3">
                    <select class="form-select" id="tipoSubsistema">
                        <option selected>Tipo Subsistema</option>
                        <option value="1">Universidad Tecnológica</option>
                        <option value="2">Universidad Politécnica</option>
                        <option value="3">Instituto Tecnológico</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Titulo Articulo">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Autor">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Breve resumen del articulo">
                </div>
                <label for="customFileInput" class="form-label">Sube un archivo</label>
            <div class="input-group">
                <input type="file" class="form-control d-none" id="customFileInput">
                <label class="input-group-text" for="customFileInput" id="customFileLabel">Elegir archivo</label>
            </div>
                <label></label>
                <button type="submit" class="btn btn-primary btn-block" routerLink=''>Cargar Articulo</button>
            </form>
        </div>
    </div>
</body>
